<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108198668541-s749k9uc7kdji8a3a691lv5s4tglcoso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108198668541-s749k9uc7kdji8a3a691lv5s4tglcoso</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>108198668541-hcflfpjg3mdmcnornp8bg7fakaqlbq8n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3n0V3LMEt0eE8rx_txOiNmn58K5wIrig</string>
	<key>GCM_SENDER_ID</key>
	<string>108198668541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.otw-app</string>
	<key>PROJECT_ID</key>
	<string>otwapp-8ea62</string>
	<key>STORAGE_BUCKET</key>
	<string>otwapp-8ea62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108198668541:ios:0b7c2555e31dae53aa3694</string>
</dict>
</plist>